body {
  background-color: #F89EC4;
  color: #792647;
  font-family: sans-serif;
}

header {
  text-align: center;
}


div {
  margin: auto;
}

.calculator-body {
  height: 600px;
  width: 400px;
  background-color: #FFB8D2;
  display: grid; 
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: end;
  box-shadow: 2px 2px black;
}

#input-output-field {
  height: 100px;
  width: 300px;
  background-color: #FFE3F4;
  position: absolute;
  z-index: 1; /*allows overlap*/
  display: grid;
  justify-self: center;
  align-self: flex-start;
  padding: 20px;
  margin-top: 35px;
  box-shadow: inset 0px 0px 5px black;
}

button {
  background-color: #FFE3F4;
  border: none;
  display: grid;
  margin-bottom: 30px;
  box-shadow: 2px 2px 3px black;
}

.number, #decimal, .operator {
  font-size: 40px;
}

